@import "tailwindcss";
@plugin "@tailwindcss/forms";

@font-face {
  font-family: 'montserrat-regular';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-montserrat: "montserrat-regular", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}